@import '../config/global.scss';

$color: (
  primary: (
    light: #805B9B,
    base: #684B7F,
    dark: #3D2645,
  ),
  secondary: (
    base: #B07B77
  )
);

@function color($name, $variant: base) {
  $colors: map-get($color, $name);

  @each $color in $colors {
    @return map-get($color, $variant);
  }
}

body {
  background: red;
}
