
.button, .btn{
  text-align: center;
  padding-top: $btnPadding ;
  padding-bottom: $btnPadding;
  padding-left: $btnPadding + 10;
  padding-right: $btnPadding + 10;
  font: $btnFont;
  color:$btnDefaultColor !important;
  margin:$defaultMargin;
  border: 1px solid $btnDefaultBg;
  background: $btnDefaultBg;
  @if $btnIsGradient{
    @include box-shadow(inset 0px 0px 3px darken($btnDefaultBg, 10%), 0 2px 1px darken($btnDefaultColor, 80%));
    @include filter-gradient($btnDefaultBg, darken($btnDefaultBg, 20%), vertical); // IE6-9
    @include background-image(linear-gradient($btnGradientPosition, $btnDefaultBg 0%, darken($btnDefaultBg, 20%)));
  }@else{
    background: $btnDefaultBg;
  }

  @if $btnIsRounded {
    @include border-radius($btnRoundness);
  }


  &:hover{
    color: lighten($btnDefaultColor, 10%) !important;
    background: lighten($btnDefaultBg, 10%);
    @if $btnIsGradient{
      $hoverGradient: lighten($btnDefaultBg, $btnHoverLightness);
      @include filter-gradient($hoverGradient, darken($hoverGradient, 20%), vertical); // IE6-9
      @include background-image(linear-gradient($btnGradientPosition, $hoverGradient 0%, darken($hoverGradient, 20%)));
    }@else{
      background: $hoverGradient;
    }
  } 
  &:active{
    @include box-shadow(inset 0px 0px 10px darken($btnDefaultBg, 20%));
  }

  &.save{
    background: $btnSaveBg;
    @include box-shadow(0 2px 3px darken($btnSaveBg, 30%));
    border: 1px solid $btnSaveBg;
    @if $btnIsGradient{
      @include box-shadow(inset 0px 0px 3px darken($btnSaveBg, 10%));
      @include filter-gradient($btnSaveBg, darken($btnSaveBg, 20%), vertical); // IE6-9
      @include background-image(linear-gradient($btnGradientPosition, $btnSaveBg 0%, darken($btnSaveBg, 20%)));
    }@else{
      background: $btnSaveBg;
    }


    &:hover{
      background: lighten($btnSaveBg, 10%);
      color: lighten($btnDefaultColor, 10%) !important;
      @if $btnIsGradient{
        $saveGradient: lighten($btnSaveBg, $btnHoverLightness);
        @include filter-gradient($saveGradient, darken($saveGradient, 20%), vertical); // IE6-9
        @include background-image(linear-gradient($btnGradientPosition, $saveGradient 0%, darken($saveGradient, 20%)));
      }@else{
        background: $saveGradient;
      }
    } 
    &:active{
      margin-top:2px;
      @include box-shadow(inset 0px 0px 10px darken($btnSaveBg, 20%));
    }

  }
  &.cancel{
    background: $btnCancelBg;
    @include box-shadow(0 2px 3px darken($btnCancelBg, 30%));
    border: 1px solid $btnCancelBg;
    @if $btnIsGradient{
      @include box-shadow(inset 0px 0px 3px darken($btnCancelBg, 10%));
      @include filter-gradient($btnCancelBg, darken($btnCancelBg, 20%), vertical); // IE6-9
      @include background-image(linear-gradient($btnGradientPosition, $btnCancelBg 0%, darken($btnCancelBg, 20%)));
    }@else{
      background: $btnCancelBg;
    }


    &:hover{
      background: lighten($btnCancelBg, 10%);
      color: lighten($btnDefaultColor, 10%) !important;
      @if $btnIsGradient{
        $cancelGradient: lighten($btnCancelBg, $btnHoverLightness);
        @include filter-gradient($cancelGradient, darken($cancelGradient, 20%), vertical); // IE6-9
        @include background-image(linear-gradient($btnGradientPosition, $cancelGradient 0%, darken($cancelGradient, 20%)));
      }@else{
        background: $cancelGradient;
      }
    } 
    &:active{
      margin-top:2px;
      @include box-shadow(inset 0px 0px 10px darken($btnCancelBg, 20%));
    }

  }
}