
	<div class="verticalMenuContainer" hammer-swiperight="hideMenu();">
		<input type="checkbox" id="menuIcon">
	    <label for="menuIcon" class="icon menu-icon" onclick></label>

		<section id="verticalMenu" data-role="sidebar" data-module="verticalMenu">
			
			<div class="verticalMenu">
				
				
				
				<ul>
					<li><a href="#"><i class="icon icon-aim"></i><span class="text">Item </span></a></li>
					<li><a href="#"><i class="icon icon-aim"></i><span class="text">Item </span></a></li>
					<li><a href="#"><i class="icon icon-aim"></i><span class="text">Item </span></a></li>
					<li><a href="#"><i class="icon icon-aim"></i><span class="text">Item </span></a></li>
					<li><a href="#"><i class="icon icon-aim"></i><span class="text">Item </span></a></li>
					<li><a href="#"><i class="icon icon-aim"></i><span class="text">Item </span></a></li>
					<li><a href="#"><i class="icon icon-aim"></i><span class="text">Item </span></a></li>
					<li><a href="#"><i class="icon icon-aim"></i><span class="text">Item </span></a></li>
					<li><a href="#"><i class="icon icon-aim"></i><span class="text">Item </span></a></li>
				</ul>
			</div>
		</section>
	</div>